body
{
   font-family: 'Slabo 27px', serif;
   background-color: #F0F0F0;
}

html, body {
    overflow: hidden;
    margin: 0;
    height:100%;
}

canvas
{
    position: absolute;
    z-index:-1;

}

a
{
   text-decoration: none;
}

a:link,a:visited
{
   color: orange;
}

#subtext
{
   color: #c0c0c0;
}

#subsubtext
{
   color: #909090;
}

#textbox
{
   display: inline-block;
   margin-left: 2%;
   width:25%;
}

#right-panel
{
   display: inline-block;
   margin-left: 5%;
   width:65%;
}
