body
{
   font-family: 'Slabo 27px', serif;
   background-color: #F0F0F0;
}

a
{
   text-decoration: none;
}

#subtext
{
   color: #505050;
}

#subsubtext
{
   color: #707070;
}

#left-panel
{
   display: inline-block;
   margin-left: 60px;
   margin-right: 20px;
   width:25%;
}

#right-panel
{
   display: inline-block;
}
